﻿@model FederationDto
@{
    ViewData["Title"] = "FederationUpdate";
}

<h1>Update Federation</h1>
<partial>@Html.PartialAsync("Warning").Result</partial>
<form method="post" action="Update">
    @foreach(var property in typeof(FederationDto).GetProperties())
    {
        <label for="@property.Name">@property.Name</label>
        if (property.Name == "Id")
        {
            <input readonly name="@property.Name" value="@property.GetValue(Model)" />
        } else if (property.PropertyType.Equals(typeof(DateTime)))
        {
            <input name="@property.Name" value="@(Model.EstablishedIn.Date.ToString("yyyy-MM-dd"))" type="date"/>
        } else if (property.PropertyType.Equals(typeof(bool)))
        {
            <input name="@property.Name" value="true" checked="@property.GetValue(Model)" type="checkbox" />
        } 
        else if (property.PropertyType.Equals(typeof(int)))
        {
            <input name="@property.Name" value="@property.GetValue(Model)" type="number" />
        }
        else 
        {
            <input name="@property.Name" value="@property.GetValue(Model)" type="text" required/>
        }
        <br/>
    }
    <input type="submit" value="Update" />
</form>
<form method="post" action="/Federation">
    <input type="submit" value="Cancel" />
</form>
