﻿@model IEnumerable<FederationDto>
@{
    ViewData["Title"] = "Index";
}

<h1>Federations</h1>
<partial> @Html.PartialAsync("Warning").Result </partial>
<table>
    <thead>
        <tr>
            @foreach(var title in typeof(FederationDto).GetProperties())
            {
                <td><b>@string.Concat(title.Name.Select(x => Char.IsUpper(x) ? " " + x : x.ToString())).TrimStart(' ')</b></td>
            }
        </tr>
    </thead>
    <tbody>
        @foreach(FederationDto federation in Model)
        {
            <tr>
            @foreach(var property in typeof(FederationDto).GetProperties())
            {
                <td>@property.GetValue(federation).ToString()</td>
            }
            <td><a href="Federation/Delete?id=@federation.Id">Delete</a></td>
            <td><a href="Federation/RedirectToUpdateWindow?id=@federation.Id">Update</a></td>
            </tr>
        }
        <tr>
            <form action="/Federation/Insert" method="post">
                @foreach (var property in typeof(FederationDto).GetProperties())
                {
                    if (property.Name == "Id")
                    {
                        <td><input disabled value="@(Model.Max(x=> x.Id) + 1)"/></td>
                    } 
                    else if (property.PropertyType.Equals(typeof(DateTime)))
                    {
                        <td><input type="date" name="@property.Name" value="@DateTime.Today.ToString("yyyy-MM-dd")" /></td>
                    }
                    else if (property.PropertyType.Equals(typeof(bool)))
                    {
                        <td><input type="checkbox" name="@property.Name" value="true" /></td>
                    }
                    else if (property.PropertyType.Equals(typeof(int)))
                    {
                        <td><input type="number" name="@property.Name" value="0" /></td>
                    }
                    else
                    {
                        <td><input type="text" name="@property.Name" required/></td>
                    }
                }
                <td><input type="submit" value="Add Federation" /></td>
            </form>
        </tr>
    </tbody>
</table>
